* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video-card {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 8px;
    background-color: #fff;
    text-decoration: none;
    color: unset;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    height: auto;
    border-radius: 4px;
}

h3 {
    font-size: 16px;
    margin: 10px 0;
}

p{
    color: #544e4e;
}

span{
    color: #767676;
}